<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }} | Battery Specialists</title>
    <meta name="Battery Specialists Home Page" content="the home of all your portable power solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/final/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="/final/css/normalize.css">
    <link rel="stylesheet" href="/final/css/main.css">
    <script src="/final/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Add your site or application content here -->
    <header>
        <div class="visuallyhidden">
            <h1>{{ page.h1 }}</h1>
        </div>
        <nav>
           <img class="hamburger" src="/final/img/hamburger.png" alt="hamburger icon">
            
               <ul class="hamburger_toggle classtoggle">
                
                <li class="dropdown"><a href="/final/">Home</a></li>
                <li class="dropdown"><a href="/final/categories/batteries">Batteries</a>
                    <ul class="dropdown-content">
<!--          add divs to be able to do slide accordian content-->
                        <li><a href="/final/categories/batteries/duracell/">Duracell</a></li>
                        <li><a href="/final/categories/batteries/procell">Procell</a></li>
                        <li><a href="/final/categories/batteries/energizer">Energizer</a></li>
<!--                        -->
                    </ul>
                </li>
                <li class="dropdown"><a href="/final/categories/battery-chargers">Battery Chargers</a>
                    <ul class="dropdown-content">
                        <li><a href="/final/categories/battery-chargers/agm-chargers/">AGM Chargers</a></li>
                        <li><a href="/final/categories/battery-chargers/charger-sets">Charging Sets</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="/final/categories/power-products">Power Products</a>
                    <ul class="dropdown-content">
                        <li><a href="/final/categories/power-products/invertors/">Invertors</a></li>
                        <li><a href="/final/categories/power-products/jump-starters/">Jump Starters</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="/final/about">About</a></li>
                <li class="dropdown"><a href="/final/contact/">Contact Us</a></li>   
            </ul>
          
        </nav>
    </header>